 .start, .check-button{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container-learnWords {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
    width: 1200px;
    background: rgba(240, 233, 37, 0.266);
    border-radius: 10px;
    padding: 35px;
}

.user-translation{
    width: 227px;
    order: none;
    outline: none;
    resize: none;
}

.center-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2px;
    margin: 3px;
}

.center-button{
    margin-top: 5px;
}

ul{
    margin: 3px;
    font-size: 25px;
    padding: 2px;
}