
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(53, 17, 111);
    padding: 10px;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main-container {
    margin-top: 80px; /* Збільшує відступ контенту від верхнього краю сторінки, щоб уникнути перекриття з заголовком */
}