*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: #f7f7f7eb;
}
.main-container{
    align-items: center;
}
.container-words {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 233, 37, 0.266);
    width: 1200px;
    border-radius: 7px;
    padding: 30px;
    position: relative;
    color: black;
    margin-bottom: 20px;
}
.deleteButton, .start, .check-button{
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    background: black;
    color: white;
    padding: 5px;
    margin: 5px;
}

.start, .check-button{
    padding: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container-learnWords {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 17px;
    width: 1200px;
    background: rgba(240, 233, 37, 0.266);
    border-radius: 10px;
    padding: 35px;
}
.user-translation{
    width: 227px;
    order: none;
    outline: none;
    resize: none;
}
.container{
    width: 1200px;
    background: white;
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
border-radius:5px;
border: 1px solid grey;
}
.text-input .to-text{
border-radius: 0px;
border-left: 1px solid grey;
}
.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid grey;
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}
.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{
    list-style: none;
    padding: 12px, 15px;
}
.controls .row.from .icons{
padding-right: 15px;
border-right: 1px solid grey;
}
.controls .row.to .icons{
    padding-left: 15px;
    border-right: 1px solid grey;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    width: 50px;
    color: grey;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
color: white;
font-size: 16px;
cursor: pointer;
}
.exchange{
    border: none;
    border-radius: 5px;
    background: black;
    padding: 10px 20px;
    margin: 5px
}
.translate-button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    background: black;
}

.center-container{
   display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2px;
    margin: 3px;
}
.center-button{
    margin-top: 5px;
}
ul{
    margin: 3px
}